<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
		/*Greeting*/
		#greeting {
		    margin-top: 100px;
		    margin-bottom: 100px;
		    color: #1d1e1e;   
		    text-align:center;
		    font-size: 30px!important;
		}
		#greeting h2 {
		    color: #4e4e4e;
		}
		#button{
			margin-left:40%;
		    background-color: #4e4e4e;
		    border-radius: 10px 10px 10px 10px;	
		    border: none;
		    padding:20px;
		    width: 150px;
		    height: 40px;
		}
		#button a{
			color:#E9ECEF;
		    text-decoration:none;
		}
</style>
</head>
<body>

    <!--Greeting-->
	<div id="greeting" class="container">	
	    <div class="row">
	        <div class="col-12">
	        	<p>Bu Sayfaya ulaşma yetkiniz yok..</p>
				<h1>Lütfen sigortayı sorgulamak için önce giriş yapınız</h1>
				<div id="button">
				<a th:href="@{index}">Giriş Yap</a>				
				</div>
	        </div>
	    </div>
	</div>
</body>
</html>